<!DOCTYPE html>
<html>
<head>
  <title>Wanna Watch</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      padding: 50px;
    }
    .logo {
      max-width: 200px;
      margin-bottom: 20px;
      border-radius: 45px;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="logo.png" alt="Wanna Watch Logo" class="logo">
    <h1>Welcome to Wanna Watch</h1>
    <p>Have fun finding a movie to watch tonight!</p>
    <a href="https://apps.apple.com/us/app/wannawatch/id6479348557" class="btn btn-primary btn-lg">Get Started</a>

    <hr style="margin: 40px 0;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSegqs53JTMhfZFI_FXrqA3hS67vsT9VHW-0608JGrZJKvH_7g/viewform?embedded=true" width="640" height="1275" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</body>
</html>